@using Mytodo.Models
@model MyList
<head>
@{
	ViewData ["Title"] = "ToDo List";
}
<style>

	body 
	{
		background-color: #f0f0f0; 
		margin: 0;
		padding: 0;
	}
	.centered-content 
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 40vh;
	}

	.form-conteiner 
	{
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: auto;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 10px;
	}

	h1
	{
		position: relative;
		font-size: 24px;
		text-align: center;
	}

	h1::before
	{
		content: "";
		position: absolute;
		left: -1000px;
		right: -672px;
		bottom: -5px;
		height: 35px;
		background-color: #00FFFF;
		z-index: -1;
	}

	.field 
	{
		margin-bottom: 15px; 
	}

	label 
	{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}

	input 
	{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}

	footer
	{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		position: relative;
		font-size: 15px;
		text-align: center;
		content: "";
		position: absolute;
		left: -8px;
		right: -8px;
		bottom: -5px;
		height: 35px;
		background-color: #00FFFF;
	}
</style>
</head>

<body>
	<div class="centered-content">
	<h1>My To Do list</h1>
	<div class="form-conteiner">
<form>
	<div class="field">
		<label asp-for="Name" style="font-family">Task</label>
		<input asp-for="Name" readonly disabled/>

		<label asp-for="IsComplite">is Complite?</label>
		<input asp-for="IsComplite" type="checkbox" />
	</div>

	<div class="field">
		<label asp-for="Name">Task</label>
		<input asp-for="Name" readonly disabled />

		<label asp-for="IsComplite">is Complite?</label>
		<input asp-for="IsComplite" type="checkbox" />
	</div>

	<div class="field">
		<label asp-for="Name">Task</label>
		<input asp-for="Name" readonly disabled />

		<label asp-for="IsComplite">is Complite?</label>
		<input asp-for="IsComplite" type="checkbox" />
	</div>

	<div class="field">
		<label asp-for="Name">Task</label>
		<input asp-for="Name" readonly disabled />

		<label asp-for="IsComplite">is Complite?</label>
		<input asp-for="IsComplite" type="checkbox" />
	</div>
	<div>
		<button type="button" id="addTask">Add Task</button>
		<button type="button" id="updateTask">Change Task</button>
		<button type="button" id="deleteTask">Delete Task</button>
	</div>
</form>
</div>
</div>
</body>

<footer>All rights reserved</footer>


